<!-- Dispalys all teams added by user -->
<h2>My Teams:</h2>
<hr />
<% for team in @teams %>
  <p> Team Name: <%= team.name()%> </p>
  <form action="/teams/<%= team.id %>" method="GET">
    <input type="submit" value="Show Team">
  </form>
  <hr />
<% end %>

<!-- Adds link so cust can add a team to their list -->
<form action="/teams/new" method="GET">
  <input type="submit" value="Add Team">
</form>
