<!-- Dispalys all teams added by user -->
<h2>My Teams:</h2>
<hr />
<% for team in @teams %>
  <p> Name: <%= team.name()%> </p>
  <p><a href="/teams/<%= team.id %>">Show Team</a></p>
  <hr />
<% end %>

<!-- Adds link so cust can add a team to their list -->
<p><a href="/teams/new">Add Team</a></p>
