<!-- Allows user to add a new league to their list -->
<form action="/teams" method="POST">

  <label for="team-name">Team Name:</label>
  <input required type="text" id="team-name" name="name">

  <label for="league-name">League:</label>
  <input type="text" id="league-name" name="league_id">

  <input type="submit" value="Add Team">


</form>
