<h2>Fixtures</h2>
<hr />

<% for fixture in @fixtures %>
  <p> <%= fixture.league_name() %> </p>

    <% for match in fixture.matches() %>
      <p> <%= match.name() %> </p>
    <% end %>

  <p> <%= fixture.home_team() %> V <%= fixture.away_team() %> </p>

  <hr />
<% end %>
