<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/style/buttons.css">

  <title>FootyScores</title>
</head>
<body>
  <nav class="nav">
    <ul class="nav_ul">
      <li class="nav_li" ><a href="/">Home</a></li>
      <li class="nav_li"><a href="/teams">Teams</a></li>
      <li class="nav_li"><a href="/leagues">Leagues</a></li>
      <li class="nav_li"><a href="/fixtures">Fixtures</a></li>
    </ul>
  </nav>
  <h1 class="title">FootyScores</h1>

  <%= yield %>

</body>
</html>
