<h2>Matches</h2>
<hr />
<% for match in @matches %>
  <p> <%= match.name() %> </p>

    <% for fixture in match.fixtures() %>
    <p> Team: <%= fixture.home_team() %> V <%= fixture.away_team() %> </p>
    <% end %>
    <hr />
<% end %>
