body {
  background-image: url('./images/pitch2.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}

.title {
  text-align: center;
  text-decoration: underline;
  font-family: monospace;
  font-size: 50px;
}

.home {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

.nav {
 color: white;
}

.nav_ul {
  list-style: none;
  colour: white;
}

.nav_li {
  display: inline-grid;
  font-size: 20px;
  color: white;
  padding-left: 80px;

}

a, p, li, h2, h3, form, input {
  font-family: monospace;
}

a, p, li, h3, input {
  font-size: 18px;
  text-align: center;
}

ul {
  list-style: none;
}

h2, h3 {
  text-align: center;
  text-decoration: underline;
}

a, a:visited {
  color: white;
}
