<!-- Dispalys all leaues added by user -->
<h2>My Leagues:</h2>
<hr />
<% for league in @leagues %>
  <p> Name: <%= league.name()%> </p>
  <p><a href="/leagues/<%= league.id %>">Show League</a></p>
  <hr />
<% end %>

<!-- Adds link so cust can add a league to their list -->
<p><a href="/leagues/new">Add League</a></p>
