<!-- Allows cust to add a new league to their list -->
<form action="/leagues" method="POST">

  <label for="league-name">League Name:</label>
  <input required type="text" id="league-name" name="name">

  <input type="submit" value="Add League">

</form>
